<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Jordan Stewart's Capstone Project</title>
        <!--link to google style-sheet-->
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="home-container">
                <!-- Navigation -->
                <nav>
                         <ul class="navigation">
                          <li class="nav_item"><a href="#">Home</a></li>
                          <li class="active"><a href="#">Book a trip</a></li>
                          <li class="nav_item"><a href="#">Services</a></li>
                          <li class="nav_item"><a href="#">Sign Up</a></li>
                          <li class="nav_item"><a href="#">Contact</a></li>
                         </ul>
                </nav>
            <!-- main -->
            <main>
                <div class='container'>
                  <div class='double-border-text'>vacation time</div>
                </div>
            </main>
            <!-- Application -->
            <div class = "app">
                <div class = "tile">
                 <div class = "input">
                      <!-- INPUT -->
                      <!-- enter desired destination field -->
                      <div class ="destination">
                        <label for="zip"><h2>Where would you like to travel?</h2></label>
                        <input type="text" id="destination" placeholder="enter city here">
                      </div>
                      <!-- entire desired departure date -->
                      <div class ="departure">
                        <label for="departure"><h2>When do you want to depart?</h2></label>
                        <!--<textarea class= "myInput" id="feelings" placeholder="Enter your feelings here" rows="9" cols="50"></textarea>-->
                        <input type="date" id="date" placeholder="enter date dd/mm/yyyy">
                      </div>
                      <!-- submit button -->
                      <div class ="button area">
                        <button id="generate" type = "submit"> Submit </button>
                      </div>
                 </div>
                 <div class = "results">
                        <!-- OUTPUT -->
                      <div class ="holder entry">
                        <div class = "title"><h2>Your trip details</h2></div>
                        <div id = "entryHolder">
                            <div id = "date"></div>
                            <div id = "weather"></div>
                            <!-- test for getting weather icon to display -- via support provided from mentor -- https://knowledge.udacity.com/questions/649596 -->
                            <div id = "icon"></div>
                            <div id = "image"></div>
                        </div>
                      </div>
                 </div>
                </div>
              </div>
            <!-- FOOTER -->
            <footer class="page__footer">
                <p>Created by Jordan Stewart</p>
                <br />
                <!-- Github repo link -->
                <p>Github repo: <a href="https://github.com/Jordan-Stewart/Travel-App/" target="_blank">https://github.com/Jordan-Stewart/Travel-App/</a></p>
            </footer>
        </div>
    </body>
            <script>
             // Check that service workers are supported
             //if ('serviceWorker' in navigator) {
              //    Use the window load event to keep the page load performant
              //   window.addEventListener('load', () => {
              //       navigator.serviceWorker.register('/service-worker.js');
               //  });
             //}
            </script>
</html>
