/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
    box-sizing: border-box;
}

body {
	line-height: 1;
  background-image: url("../media/background.jpg");
  //sourced from https://stackoverflow.com/questions/9262861/css-background-image-to-fit-width-height-should-auto-scale-in-proportion
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #db7953;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
    list-style-type: none;
}

h1 {
 font-size: 3rem;
 text-align: center;
 padding-top: 1rem;

}

h2 {
  font-size: 2rem;
  color: white;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1rem;
}

p {
  font-size: 1rem;
}

a {
  color: white;
}

#empty_space {
  padding-top: 7.5%;
  padding-bottom: 7.5%;
}
