/* all animation code sourced from https://tympanus.net/codrops/2012/01/02/fullscreen-background-image-slideshow-with-css3/ */

@charset "UTF-8"
	
#slide_background {
	width: 100%;
	height: 100vh;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	backface-visibility: hidden;
	animation: slide_background  36s linear infinite 0s;
	animation-timing-function: ease-in-out;
	background-image: url('./media/background-1.png');
}	
	

@keyframes { 
	0% {
	    background-image: url(./media/background-1.png) 
	}
	33% {
	    background-image: url(./media/background-2.png);
	}
	67% {
	    background-image: url(./media/background-3.png);
	}
	100% {
	    background-image: url(./media/background-4.png);
	}
}
